body {
  padding: 4%;
}

img:not([alt]) {
  border: 5px solid red;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color:rgb(79, 66, 91);
  background-color: chocolate;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lovely {
  color: greenyellow;
}